name: Build and Push Docker Image to GitHub Packages

on:
  push:
    branches:
      - main
  workflow_dispatch:  # 手动触发

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Docker image
      run: docker build -t ghcr.io/djkyc/pulse-docker/pulse-app:latest .

    - name: Push Docker image
      run: docker push ghcr.io/djkyc/pulse-docker/pulse-app:latest
