name: Build and Push Docker Image to GitHub Packages

on:
  push:
    branches:
      - main    # 每次 push 到 main 分支时都会触发
  release:
    types:
      - published  # 发布新版本时触发

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Checkout 项目代码
    - name: Checkout code
      uses: actions/checkout@v2

    # 登录到 GitHub Container Registry
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        token: ${{ secrets.GITHUB_TOKEN }}

    # 构建 Docker 镜像
    - name: Build Docker image
      run: docker build -t ghcr.io/${{ github.repository }}/pulse-app:latest .

    # 推送 Docker 镜像到 GitHub Packages
    - name: Push Docker image
      run: docker push ghcr.io/${{ github.repository }}/pulse-app:latest
